<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Linux Distro Recommendation App</display-name>

    <!-- ===== SERVLET AUTENTICAZIONE ===== -->
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
        
        <init-param>
            <param-name>ip</param-name>
            <param-value>fedora</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>distroFinal</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>dario</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Telemarketing56-</param-value>
        </init-param>
        <init-param>
            <param-name>session.timeout</param-name>
            <param-value>1800</param-value>
        </init-param>
        <init-param>
            <param-name>bcrypt.rounds</param-name>
            <param-value>12</param-value>
        </init-param>
    </servlet>

    <!-- ===== SERVLET DATI SUPPORTO ===== -->
    <servlet>
        <servlet-name>DatiSupportoServlet</servlet-name>
        <servlet-class>servlet.DatiSupportoServlet</servlet-class>
        
        <init-param>
            <param-name>ip</param-name>
            <param-value>fedora</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>distroFinal</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>dario</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Telemarketing56-</param-value>
        </init-param>
    </servlet>

    <!-- ===== SERVLET RICHIESTE UTENTE ===== -->
    <servlet>
        <servlet-name>RichiesteServlet</servlet-name>
        <servlet-class>servlet.RichiesteServlet</servlet-class>
        
        <init-param>
            <param-name>ip</param-name>
            <param-value>fedora</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>distroFinal</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>dario</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Telemarketing56-</param-value>
        </init-param>
        <init-param>
            <param-name>max.distribuzioni.per.richiesta</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>max.esperti.per.richiesta</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>scadenza.default.giorni</param-name>
            <param-value>7</param-value>
        </init-param>
    </servlet>

    <!-- ===== SERVLET VALUTAZIONI ESPERTI ===== -->
    <servlet>
        <servlet-name>ValutazioniServlet</servlet-name>
        <servlet-class>servlet.ValutazioniServlet</servlet-class>
        
        <init-param>
            <param-name>ip</param-name>
            <param-value>fedora</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>distroFinal</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>dario</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Telemarketing56-</param-value>
        </init-param>
        <init-param>
            <param-name>punteggio.minimo</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <init-param>
            <param-name>punteggio.massimo</param-name>
            <param-value>10.0</param-value>
        </init-param>
        <init-param>
            <param-name>commento.minimo.caratteri</param-name>
            <param-value>20</param-value>
        </init-param>
    </servlet>

    <!-- ===== SERVLET NOTIFICHE ===== -->
    <servlet>
        <servlet-name>NotificheServlet</servlet-name>
        <servlet-class>servlet.NotificheServlet</servlet-class>
        
        <init-param>
            <param-name>ip</param-name>
            <param-value>fedora</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>dbName</param-name>
            <param-value>distroFinal</param-value>
        </init-param>
        <init-param>
            <param-name>userName</param-name>
            <param-value>dario</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Telemarketing56-</param-value>
        </init-param>
        <init-param>
            <param-name>max.notifiche.per.pagina</param-name>
            <param-value>50</param-value>
        </init-param>
        <init-param>
            <param-name>giorni.archiviazione.automatica</param-name>
            <param-value>30</param-value>
        </init-param>
    </servlet>

    <!-- ===== URL MAPPINGS ===== -->
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DatiSupportoServlet</servlet-name>
        <url-pattern>/DatiSupportoServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RichiesteServlet</servlet-name>
        <url-pattern>/RichiesteServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ValutazioniServlet</servlet-name>
        <url-pattern>/ValutazioniServlet/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NotificheServlet</servlet-name>
        <url-pattern>/NotificheServlet/*</url-pattern>
    </servlet-mapping>

    <!-- ===== CONFIGURAZIONE SESSIONI ===== -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>